@media only screen and (max-width:1000px)
{
	body
	{
		zoom:150%;
	}
	.header h1
	{
		background-color: black;
	}
}
@media only screen and (min-width:2000px)
{
	@media only screen and (max-width:5000px)
	{
		body
		{
			zoom:150%;
		}
		.header h1
		{
			background-color: black;
		}
	}
}