@media only screen and (max-width:1000px)
{
	body
	{
		zoom:150%;
	}
	.header h1
	{
		background-color: black;
	}
}
@media only screen and (min-width:2500px)
{
	body
	{
		zoom:150%;
	}
	.header h1
	{
		background-color: black;
	}
}