.header img,h1
{
	float:left;
}
.header li
{
	color:white;
	background-color:royalblue;
	font-size:35;
	float:right;
	margin-top:35;
	margin-left:10;
	margin-right:5;
	border-radius:10px;
	padding:5;
	cursor:pointer;
}
.header a:hover
{
	font-size:37;
	margin-top:34;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height:60;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    border:2px solid black;
    position:relative;
    top:10;
    height:50;
}

.search button
{
    background-image: url(search.png); 
    background-size:50px 50px; 
    background-repeat:no-repeat;
    width: 60px; 
    height: 60px; 
    position:relative;
    top:36;
    border:none;
}
.search button:hover
{
    background-size:60px 60px;
    top:26;
}
