.header img,h1
{
	float:left;
}
.header li
{
	color:white;
	background-color:royalblue;
	font-size:35;
	float:right;
	margin-top:35;
	margin-left:10;
	margin-right:5;
	border-radius:10px;
	padding:5;
}
.header a:hover
{
	font-size:37;
	margin-top:34;
}